<mat-card class="example-card">
  <mat-card-header>
    <h2>{{ product.name }}</h2>
        <!-- add product name here -->
  </mat-card-header>
  <img mat-card-image [src]="product.image" alt="" />
      <!-- add image name here -->
  <mat-card-content>
    <h3>Price: {{ product.price }}</h3>
        <!-- add price name here -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="productService.addItemsToCart(product)">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
